body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial,  sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

h1 {
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.advantages-text {
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

a {
  text-decoration: none;
}

span {
  font: inherit;
}

/* HEADER */

.main-navigation {
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #b2b2b2;
}

/* FEATURES */

.features-list,
.features-list ul {
  list-style: none;
}

.advantages-item-housing {
  background-image: url(../img/advantages-icon-1.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages-item-eat {
  background-image: url(../img/advantages-icon-2.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages-item-souvenirs {
  background-image: url(../img/advantages-icon-3.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-list .advantages-text,
.features-list .advantages-description {
  text-align: center;
}

.feature-item > .advantages-text, 
.feature-item > .advantages-description,
.feature-item > span {
  color: #ffffff;
}

.feature-item span,
.advantages-item span {
  display: block;
  text-align: center;
}

.feature-reason {
  background-color: #81b3d2;
}

.feature-reason-item {
  background-color: #eeeeee;
}

.feature-item  ul {
  background-color: #ffffff;
}

/* APPOINTMENT */

.appointment p {
  font-family: inherit;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.appointment .advantages-description {
  font: inherit;
}

.appointment ul {
  list-style: none;
}

.appointment a {
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 34px 140px;
  background-color: #766357;
}

.appointment a:hover {
  background-color: #604e43;
}

.appointment a:active {
  color: #857871;
  background-color: #503e33;
}

.appointment .button {
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  padding: 17px 197px 22px 197px;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}

.appointment .button:hover {
  background-color: #669ec0;
}

.appointment .button:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.appointment input {
  font-family: inherit;
  border: 2px solid #f2f2f2;
  background-color: #f2f2f2;
}

.appointment input:hover {
  border: 2px solid #ebebeb;
  background-color: #ebebeb;
}

.appointment input:focus {
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.appointment label {
  font: inherit;
  font-weight: 700;
}

.appointment .arrival-date {
  background-image: url(../img/calendar.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

.appointment .departure-date {
  background-image: url(../img/calendar.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

.appointment .adults,
.appointment .children {
  background-image: url(../img/plus.png),
                    url(../img/minus.png);
  background-repeat: no-repeat, no-repeat;
  background-position: right center, left center;
}

.appointment .minus,
.appointment .children {
  background-image: url(../img/plus.png),
                    url(../img/minus.png);
  background-repeat: no-repeat, no-repeat;
  background-position: right center, left center;
}

.filters input {
  font: inherit;
}

.wrapper {
  text-align: center;
}

legend {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-price-form .show-button {
  font: inherit;
  width: 133px;
  height: 32px;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  background-color: transparent;
}

.filter-price-form .show-button:hover {
  background-color: #ffffff;
}

/* CATALOG */

.catalog .found {
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.catalog .sorting {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  color: #000000;
}

.catalog ul {
  list-style: none;
}

.catalog .catalog-sorting {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  color: #b1b1b1;
  border-bottom: 1px dotted #81b3d2;
}

.catalog .catalog-sorting:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.catalog .catalog-sorting:active {
  color: #000000;
  border-bottom: none;
}

.catalog-list .hotel-name h3  {
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.catalog-list .hotel-name:hover  h3 {
  color: #81b3d2;
}

.catalog-list .hotel-name:active h3 {
  color: #b2b2b2;
}

.catalog-list .more-info {
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
  padding: 8px 17px 7px 17px;
  background-color: #81b3d2;
}

.catalog-list .more-info:hover {
  background-color: #669ec0;
}

.catalog-list .more-info:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.catalog-list .reservation {
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
  padding: 8px 16px 8px 16px;
  background-color: #766357;
}

.catalog-list .reservation:hover {
  background-color: #604e43;
}

.catalog-list .reservation:active {
  color: #857871;
  background-color: #503e33;
}

.catalog-list .rating {
  color: #666666;
  width: 110px;
  height: 27px;
  text-align: center;
  background-color: #f2f2f2;
}

/* FOOTER */

.main-footer p {
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.footer-social ul {
  list-style: none;
}

.footer-social a {
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
}

.footer-social a:hover {
  background-color: #669ec0;
}

.footer-social a:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.copyright p {
  font: inherit;
  color: #000000;
}

















