html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial,  sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.container {
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 1, 1, 0.20);
}

.main-description {
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #000000;
  margin-top: 60px;
  margin-bottom: 16px;
}

.advantages-text {
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  color: #000000;
  padding-left: 45px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 white-space: nowrap;
 clip: rect(0 0 0 0);
 overflow: hidden;
}

a {
  text-decoration: none;
}

span {
  font: inherit;
}

/* HEADER */

.main-header {
  position: relative;
  min-height: 564px;
  background-image: url(../img/bg-header.jpg);
  background-repeat: no-repeat;
  background-position: center -27px;
  background-size: cover;
}

.filter-header {
  min-height: 0;
  background-image: none;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 531px;
  width: 138px;
  height: 70px;
}

.main-navigation {
  position: relative;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  background-color: gray;
}

.main-navigation li {
  width: 239px;
  height: 56px;
  text-transform: uppercase;
  text-align: center;
  line-height: 56px;
}

.main-navigation li:nth-child(2) {
  margin-right: auto;
}

.main-navigation li:nth-child(3) {
  margin-left: auto;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 56px;
  background-color: #ffffff;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #b2b2b2;
}

.site-navigation-current a {
  color: #766357;
}

.promo {
  margin-top: 76px;
  text-align: center;
}

.promo::after {
  content: "";
  position: absolute;
  top: 507px;
  left: 0;
  width: 1200px;
  height: 57px;
  background-image: url(../img/shape.png);
}

/* ADVANTAGES AND FEATURES */

/*
.features-list span {
  position: relative;
}

.features-list span::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 116px;
  width: 8px;
  height: 2px;
  background-color: #ffffff;
}

.features-list span::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 156px;
  width: 8px;
  height: 2px;
  background-color: #ffffff;
}
*/
.advantages-list {
  margin-bottom: 55px;
}

.features img {
  display: block;
}

.features-list,
.features-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item-housing {
  background-image: url(../img/advantages-icon-1.svg);
  background-repeat: no-repeat;
  background-position: 162px 60px;
}

.advantages-item-eat {
  background-image: url(../img/advantages-icon-2.svg);
  background-repeat: no-repeat;
  background-position: 160px 61px;
}

.advantages-item-souvenirs {
  background-image: url(../img/advantages-icon-3.svg);
  background-repeat: no-repeat;
  background-position: 167px 56px;
}

.advantages-list .advantages-description {
  text-align: center;
  line-height: 22px;
}

.advantages-main-description {
  margin-bottom: 53px;
}

.features-list .advantages-text {
  padding-right: 45px;
  margin-bottom: 22px;
  padding-left: 45px;
}

.features-list .advantages-text,
.features-list .advantages-description {
  text-align: center;
}

.features-list .advantages-text,
.features-list .advantages-description {
  text-align: center;
}

.feature-item .advantages-text, 
.feature-item .advantages-description,
.feature-item span {
  color: #ffffff;
}

.advantages-text {
  padding-left: 5px;
}

.advantages-list,
.features-list {
  display: flex;
  flex-direction: column;
}

.advantages-item {
  width: 33.33%;
  padding-top: 25px;
  padding-right: 63px;
  padding-bottom: 45px;
  padding-left: 62px;
}

.advantages-item.advantages-first {
  padding-top: 140px;
  padding-right: 50px;
  padding-bottom: 69px;
  padding-left: 50px;
}

.features ul {
  display: flex;
  justify-content: space-between;
}

.feature-item span,
.advantages-item span {
  display: block;
  text-align: center;
  padding-bottom: 5px;
}

.feature-reason {
  display: flex;
  background-color: #81b3d2;
}

.feature-reason:first-child {
  flex-direction: row;
  min-width: 100%;
}

.feature-reason:last-child {
  flex-direction: row-reverse;
  min-width: 100%;
}

.feature-description {
  width: 400px;
  padding-top: 26px;
  padding-right: 60px;
  padding-bottom: 0; 
  padding-left: 60px;
}

.feature-description:last-child {
  width: 400px;
  padding-top: 26px;
  padding-right: 45px;
  padding-bottom: 0; 
  padding-left: 45px;
}

.feature-reason-item {
  background-color: #eeeeee;
}

.feature-item  ul {
  background-color: #ffffff;
}

/* APPOINTMENT */

.appointment .text-interesting {
  font-family: inherit;
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 29px;
}

.appointment .advantages-description {
  font: inherit;
  margin-bottom: 75px;
}

.appointment .search {
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  width: 1111px;
  padding-top: 28px;
  padding-right: 139px;
  padding-bottom: 32px;
  padding-left: 140px;
  background-color: #766357;
}

.appointment .search:hover {
  background-color: #604e43;
}

.appointment .search:active {
  color: #857871;
  background-color: #503e33;
}

.appointment ul {
  margin: 0;
  padding: 0;;
  list-style: none;
}

.appointment input {
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid #f2f2f2;
  background-color: #f2f2f2;
  margin-bottom: 29px;
  padding-top: 9px;
  padding-bottom: 10px;
  width: 294px;
}

.appointment input:hover {
  border: 2px solid #ebebeb;
  background-color: #ebebeb;
}

.appointment input:focus {
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.appointment label {
  font: inherit;
  font-weight: 700;
  color: #000000;
}

.arrival,
.departure,
.adult-and-children {
  position: relative;
}

.adult-and-children {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 54px;
}

.arrival-date,
.departure-date {
  padding-top: 5px;
  padding-right: 40px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.arrival label {
  margin-right: 17px; 
}

.departure label {
  margin-right: 7px; 
}

.adult-and-children label {
  margin-top: 7px;
  margin-right: 41px;
}

.adult-and-children label:last-of-type {
  margin-right: 28px;
  margin-left: 50px;
}

.calendar-arrival {
  position: absolute;
  top: 8px;
  right: 18px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.calendare-departure:active path {
  fill: #81b3d2;
}

.calendar-departure {
  position: absolute;
  top: 8px;
  right: 18px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.appointment .adults {
  width: 38px;
  height: 15px;
  margin-bottom: 0;
  text-align: center;
  margin-right: 0;
}

.appointment .children {
  width: 38px;
  height: 15px;
  margin-bottom: 0;
  text-align: center;
}

.button-minus-adults {
  width: 38px;
  height: 38px;
  border: none;
  cursor: pointer;
  background-image: url(../img/minus.png);
  background-repeat: no-repeat;
  background-position: 13px 18px;
  background-color: #f2f2f2;
}

.button-plus-adults {
  width: 38px;
  height: 38px;
  border: none;
  cursor: pointer;
  background-image: url(../img/plus.png);
  background-repeat: no-repeat;
  background-position: 13px 14px;
  background-color: #f2f2f2;
}

.button-minus-children {
  width: 38px;
  height: 38px;
  border: none;
  cursor: pointer;
  background-image: url(../img/minus.png);
  background-repeat: no-repeat;
  background-position: 13px 18px;
  background-color: #f2f2f2
}

.button-plus-children {
  width: 38px;
  height: 38px;
  border: none;
  cursor: pointer;
  background-image: url(../img/plus.png);
  background-repeat: no-repeat;
  background-position: 13px 14px;
  background-color: #f2f2f2;
}

.appointment .button {
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  width: 458px;
  text-transform: uppercase;
  padding-top: 14px;
  padding-right: 197px;
  padding-bottom: 18px;
  padding-left: 196px;
  background-color: #81b3d2;
  border: none;
  cursor: pointer;
}

.appointment .button:hover {
  background-color: #669ec0;
}

.appointment .button:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.calendar-arrival:hover path,
.calendar-departure:hover path,
.calendar-arrival:hover rect,
.calendar-departure:hover rect {
  fill: #000000;
}

.calendar-arrival:active path,
.calendar-departure:active path,
.calendar-arrival:active rect,
.calendar-departure:active rect {
  fill: #81b3d2;
}

.modal-search {
  width: 470px;
  background-color: #ffffff;
  text-align: left;
  margin: 30px auto;
  padding: 56px 40px 58px 58px;
  background-color: #ffffff;
}

/* MAP */

.map img {
  width: 1200px;
  height: 473px;
  margin: 0 auto;
  display: none;
}

iframe {
  border: none;
}

/* FILTERS */

.filter {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-image: url(../img/filter-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 30px;
  padding-right: 73px;
  padding-left: 73px;
  padding-bottom: 29px;
}

.filter li:first-child {
  margin-top: -2px;
  margin-bottom: 20px;
}

.filter li:nth-child(2) {
  margin-bottom: 20px;
}

.filter .filter-form {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-form:first-child {
  width: 257px;
}

.filter-form:nth-child(2) {
  width: 288px;
  margin-right: 200px;
}

.filters ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-form input {
  font: inherit;
  display: none;
}

.wrapper {
  text-align: center;
}

legend {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  color: #ffffff;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.filter label {
  position: relative;
  cursor: pointer;
  color: #ffffff;
  padding-left: 40px;
}

.filter-form label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 19px;
  height: 19px;
  border: 2px solid #ffffff;
  border-radius: 3px;
}

input[type="checkbox"]:checked ~ label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 6px;
  width: 16px;
  height: 8px;
  border: 4px solid #ffffff;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}

.filter-price-form {
  width: 330px;
  text-align: center;
}

.show-button {
  display: block;
  margin-left: 84px;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.show-button:hover {
  color: #000000;
  background-color: #ffffff;
}

.filter-range {
  width: 320px;
  margin: 0 auto;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-top: -2px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  text-align: left;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  text-align: left;
  padding-left: 24px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls input {
  width: 50px;
  margin: 0;
  margin-right: 30px;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  padding-left: 5px;
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 32px;
  vertical-align: top;
  cursor: pointer;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

/* CATALOG */

.catalog-flex-sorting {
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 30px;
  padding-right: 73px;
  padding-bottom: 10px;
  padding-left: 73px;
}

.catalog .found {
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  margin-right: 46px;
  margin-top: 29px;
}

.catalog .sorting {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  color: #000000;
  margin-top: 37px;
  margin-right: 40px;
}

.catalog-price {
  display: flex;
  align-items: center;
}

.catalog-price li .catalog-current {
  color: #81b3d2;
  border-bottom: none;
}

.catalog-price li:hover .catalog-current {
  color: #81b3d2;
  border-bottom: none;
}

.catalog-price li {
  margin-right: 33px;
}

.catalog-price li:last-child {
  margin-right: 0;
}

.catalog .arrow {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.arrow-up,
.arrow-down {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.arrow-up:hover path,
.arrow-down:hover path {
  fill: #000000;
}

.arrow-up:active path,
.arrow-down:active path {
  fill: #81b3d2;
}

.catalog-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.catalog-item {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 30px;
  padding-bottom: 15px;
  width: 100%;
}

.info-catalog {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.hotel-name {
  width: 100%;
}

.more-btn {
  margin-right: 6px;
  margin-top: -29px;
}

.reserve-btn {
  margin-top: -29px;
}

.catalog-item img {
  margin-right: 30px;
  padding-left: 73px;
}

.catalog ul {
  margin: 0;
  margin-top: 15px;
  padding: 0;
  list-style: none;
}

.catalog .catalog-sorting {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  color: #b1b1b1;
  border-bottom: 1px dotted #81b3d2;
}

.catalog .catalog-sorting:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.catalog .catalog-sorting:active {
  color: #000000;
  border-bottom: none;
}

.hotel-name h3  {
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  margin-top: -5px;
}

.hotel-name:hover h3 {
  color: #81b3d2;
}

.hotel-name:active h3 {
  color: #b2b2b2;
}

.catalog-list .more-info {
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
  padding-top: 6px;
  padding-right: 16px;
  padding-bottom: 3px;
  padding-left: 16px;
  background-color: #81b3d2;
}

.catalog-list .more-info:hover {
  background-color: #669ec0;
}

.catalog-list .more-info:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.rating-info {
  padding-right: 73px;
}

.catalog-list .reservation {
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
  padding-top: 6px;
  padding-right: 18px;
  padding-bottom: 3px;
  padding-left: 16px;
  background-color: #766357;
}

.catalog-list .reservation:hover {
  background-color: #604e43;
}

.catalog-list .reservation:active {
  color: #857871;
  background-color: #503e33;
}

.catalog-list .rating {
  color: #666666;
  width: 110px;
  height: 27px;
  text-align: center;
  background-color: #f2f2f2;
}

.data-rating {
  background-image: url(../img/star.svg);
  background-repeat: repeat-x;
  padding-bottom: 50px;
  margin-left: auto;
}

.data-rating[data-rating="2"] {
  width: 44px;
}

.data-rating[data-rating="3"] {
  width: 66px;
}

.data-rating[data-rating="4"] {
  width: 90px;
}

/* FOOTER */

.main-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 120px;
  text-align: center;
  background-color: #ffffff;
}
/*
.absolute-footer {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  bottom: 0;
  width: 100%;
  min-height: 120px;
  opacity: 0.9;
}
*/
.visitsedona {
  width: 33.33%;
}

.main-footer p {
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.footer-social {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  list-style: none;
  width: 33.33%;
}

.footer-social li {
  margin-right: 6px;
  background-color: #81b3d2;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 185px;
}

.footer-social .social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.footer-social .social-btn:hover {
  background-color: #669ec0;
}

.footer-social .social-btn:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.social-btn:active path {
  fill: #88b6d1;
}

.copyright {
  width: 33.33%;
}

.copyright span {
  font: inherit;
  color: #000000;
  width: 200px;
}

.copyright a:hover path,
.copyright a:hover rect {
  fill: #81b3d2; 
}

.copyright a:active path,
.copyright a:active rect {
  fill: #bdbbbc;
}


















