body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial,  sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.main-description {
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #000000;
  margin-bottom: 37px;
}

.advantages-text {
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 white-space: nowrap;
 clip: rect(0 0 0 0);
 overflow: hidden;
}

a {
  text-decoration: none;
}

span {
  font: inherit;
}

/* HEADER */

.main-header {
  position: relative;
  min-height: 564px;
  margin-bottom: 61px;
  background-image: url(../img/bg-header.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.filter-header {
  min-height: 0;
  background-image: none;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 531px;
  width: 138px;
  height: 70px;
}

.main-navigation {
  position: relative;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  background-color: gray;
}

.main-navigation li {
  width: 239px;
  height: 56px;
  text-transform: uppercase;
  text-align: center;
  line-height: 56px;
}

.main-navigation li:nth-child(2) {
  margin-right: auto;
}

.main-navigation li:nth-child(3) {
  margin-left: auto;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 56px;
  background-color: #ffffff;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #b2b2b2;
}

.promo {
  margin-top: 76px;
  text-align: center;
}

.promo::after {
  content: "";
  position: absolute;
  top: 507px;
  left: 0;
  width: 1200px;
  height: 57px;
  background-image: url(../img/shape.png);
}

/* ADVANTAGES AND FEATURES */

.advantages-list {
  margin-bottom: 55px;
}

.features img {
  display: block;
}

.features-list,
.features-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item-housing {
  background-image: url(../img/advantages-icon-1.svg);
  background-repeat: no-repeat;
  background-position: 170px 61px;
}

.advantages-item-eat {
  background-image: url(../img/advantages-icon-2.svg);
  background-repeat: no-repeat;
  background-position: 177px 61px;
}

.advantages-item-souvenirs {
  background-image: url(../img/advantages-icon-3.svg);
  background-repeat: no-repeat;
  background-position: 163px 61px;
}

.advantages-list .advantages-description {
  text-align: center;
}

.advantages-main-description {
  margin-bottom: 56px;
}

.features-list .advantages-text,
.features-list .advantages-description {
  text-align: center;
}

.features-list .advantages-text,
.features-list .advantages-description {
  text-align: center;
}

.feature-item .advantages-text, 
.feature-item .advantages-description,
.feature-item span {
  color: #ffffff;
}

.advantages-list,
.features-list {
  display: flex;
  flex-direction: column;
}

.advantages-item {
  padding-top: 50px;
  padding-right: 63px;
  padding-bottom: 85px;
  padding-left: 73px;
}

.advantages-item.advantages-first {
  padding-top: 164px;
  padding-right: 63px;
  padding-bottom: 85px;
  padding-left: 73px;
}

.features ul {
  display: flex;
  justify-content: space-between;
}

.feature-item span,
.advantages-item span {
  display: block;
  text-align: center;
}

.feature-reason {
  display: flex;
  background-color: #81b3d2;
}

.feature-reason:first-child {
  flex-direction: row;
  min-width: 100%;
}

.feature-reason:last-child {
  flex-direction: row-reverse;
  min-width: 100%;
}

.feature-description {
  width: 400px;
  padding: 46px 59px 0 60px;
}

.feature-reason-item {
  background-color: #eeeeee;
}

.feature-item  ul {
  background-color: #ffffff;
}

/* APPOINTMENT */

.appointment .text-interesting {
  font-family: inherit;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 29px;
}

.appointment .advantages-description {
  font: inherit;
  margin-bottom: 50px;
}

.appointment .search {
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  width: 568px;
  padding-top: 35px;
  padding-right: 139px;
  padding-bottom: 33px;
  padding-left: 140px;
  background-color: #766357;
}

.appointment .search:hover {
  background-color: #604e43;
}

.appointment .search:active {
  color: #857871;
  background-color: #503e33;
}

.appointment-form {
  margin-top: 55px;
}

.appointment ul {
  margin: 0;
  padding: 0;;
  list-style: none;
}

.appointment input {
  font-family: inherit;
  border: 2px solid #f2f2f2;
  background-color: #f2f2f2;
  margin-bottom: 20px;
  margin-left: 21px;
}

.appointment input:hover {
  border: 2px solid #ebebeb;
  background-color: #ebebeb;
}

.appointment input:focus {
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.appointment label {
  font: inherit;
  font-weight: 700;
  color: #000000;
}

.arrival,
.departure,
.adult,
.childrens {
  position: relative;
}

.arrival-date,
.departure-date {
  padding-top: 14px;
  padding-right: 230px;
  padding-bottom: 13px;
  padding-left: 13px;
}

.calendar-arrival {
  position: absolute;
  top: 10px;
  right: 360px;
}

.calendar-departure {
  position: absolute;
  top: 10px;
  right: 360px;
}

.appointment .adults,
.appointment .children {
  width: 114px;
  height: 38px;
  margin-bottom: 0;
}

.minus-adults {
  position: absolute;
  top: 5px;
  left: 600px;
}

.plus-adults {
  position: absolute;
  top: 8px;
  left: 680px;
}

.minus-children {
  position: absolute;
  top: 5px;
  left: 580px;
}

.plus-children {
  position: absolute;
  top: 8px;
  left: 660px;
}

.appointment .button {
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  width: 458px;
  text-transform: uppercase;
  padding-top: 17px;
  padding-right: 197px;
  padding-bottom: 22px;
  padding-left: 196px;
  background-color: #81b3d2;
  border: none;
}

.appointment .button:hover {
  background-color: #669ec0;
}

.appointment .button:active {
  color: #88b6d1;
  background-color: #5496bd;
}

/* FILTERS */

.filter {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  min-height: 217px;
  background-image: url(../img/filter-bg-header.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 30px;
}

.filter li {
  margin-bottom: 32px;
}

.filter li:last-child {
  margin-bottom: 0;
}

.filter-form {
  border: none;
}

.filters ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filters input {
  font: inherit;
}

.wrapper {
  text-align: center;
}

legend {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 28px;
}

label {
  color: #ffffff;
}

.filter-price-form {
  text-align: center;
}

.filter-price-form .show-button {
  font: inherit;
  width: 133px;
  height: 32px;
  color: #ffffff;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  background-color: transparent;
  margin-top: 20px;
}

.filter-price-form .show-button:hover {
  color: #000000;
  background-color: #ffffff;
}

/* CATALOG */

.catalog-flex-sorting {
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 30px;
}

.catalog .found {
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  margin-right: 50px;
}

.catalog .sorting {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  color: #000000;
  margin-top: 27px;
  margin-right: 40px;
}

.catalog-price {
  display: flex;
  align-items: center;
}

.catalog-price li {
  margin-right: 33px;
}

.catalog-price li:last-child {
  margin-right: 0;
}

.catalog .arrow {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.arrow li:first-child {
  margin-right: 12px;
}

.catalog-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.catalog-item {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 30px;
  width: 100%;
}

.info-catalog:first-child {
  display: flex;
  align-content: center;
  width: 100%;
}

.catalog-ite:nth-child(2) {
  flex-grow: 2;
}

.more-btn {
  margin-right: 6px;
  margin-left: 30px;
}

.catalog-item img {
  margin-right: 30px;
}

.catalog ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog .catalog-sorting {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  color: #b1b1b1;
  border-bottom: 1px dotted #81b3d2;
}

.catalog .catalog-sorting:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.catalog .catalog-sorting:active {
  color: #000000;
  border-bottom: none;
}

.catalog-list .hotel-name h3  {
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.catalog-list .hotel-name:hover  h3 {
  color: #81b3d2;
}

.catalog-list .hotel-name:active h3 {
  color: #b2b2b2;
}

.catalog-list .more-info {
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
  padding: 8px 17px 7px 17px;
  background-color: #81b3d2;
}

.catalog-list .more-info:hover {
  background-color: #669ec0;
}

.catalog-list .more-info:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.catalog-list .reservation {
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
  padding: 8px 16px 8px 16px;
  background-color: #766357;
}

.catalog-list .reservation:hover {
  background-color: #604e43;
}

.catalog-list .reservation:active {
  color: #857871;
  background-color: #503e33;
}

.catalog-list .rating {
  color: #666666;
  width: 110px;
  height: 27px;
  text-align: center;
  background-color: #f2f2f2;
  margin-right: 73px;
  margin-left: auto;
}

/* FOOTER */

.main-footer {
  display: flex;
  min-height: 120px;
}

.main-footer p {
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  margin-top: 51px;
  margin-right: 256px;
  margin-left: 132px;
}

.footer-social {
  margin-right: 228px;
  outline: 2px solid red;
}

.footer-social {
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 160px;
}

.footer-social li {
  width: 46px;
  height: 48px;
  display: inline-block;
  background-color: #81b3d2;
}

.footer-social .social-btn {
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
}

.footer-social .social-btn:hover {
  background-color: #669ec0;
}

.footer-social .social-btn:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.social-tw {
background-image: url(../img/tw.svg);
background-repeat: no-repeat;
background-position: 0 0;
}

.copyright p {
  font: inherit;
  color: #000000;
  width: 241px;
  margin-left: 200px;
}


















